@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

/** header **/
body{
    padding: 0;
    margin: 0;
}

header{
    background-color: #1E2B1A;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

header img{
    height: 200px;
}

nav {
    display: flex;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    font-family: 'texturina';
}


nav a{
    font-size: 30px;
    color: #E52A22;
    text-decoration: none;
    padding: 50px;
    background-color: #233925;
  justify-content: center;
  align-items: center;
  border-radius: .5%;
}

nav a:hover {
    background-color: #3F5866;
    transition-duration: 2s;
    color: #5185E6;
}

/** header above **/

/** top stuff **/

.hist{
    width: 100%;
    margin-top: -90px;
    height: 360px;
    object-fit: cover; 
    object-position: top;
   -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%); 
}

.other{
    margin-top: -360px;
    font-size: 70px;
    padding: 25px;
    color: #E52A22;
    -webkit-text-stroke: 1px white;
    font-family: 'Bowlby one SC';
}

#stars{
    width: 500px;
}

/** top end **/

/** top middle **/

.hold{
    margin: 30px;
}
.hold p{
    font-size: 20px;
    font-family: 'texturina';
    font-weight: 700;
}
.bigger{
    font-size: 40px;
     font-family: 'Bowlby one SC';
}

.middle{
    display: flex;
    margin: 30px;
}

.middle div{
    padding: 10px;
    font-family: 'texturina';
}

.middle img{
    width: 20%;
    margin: 10px;
}
/** top middle end **/

/** middle bottom **/

.bottom{
    margin: 10px 90px 20px 90px;
    display: flex;
    border-radius: 1%;
    background-color: #233925;
}

.bottom img{
    width: 30%;
    object-fit: cover;
    border-radius: 1%;
}

.bottom div {
    padding: 20px;
    
}

.bottom p{
    font-family: 'texturina';
    font-weight: 600;
    color: aliceblue;
}

.font{
    font-size: 35px;
    color:#5185E6;
    -webkit-text-stroke: 1px white;
    font-family: 'Bowlby one SC';
}

/** footer **/
footer{
    background-color: #1E2B1A;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'texturina';
    white-space: nowrap;
    color: rgb(198, 212, 196);
    margin-top: 20px;
}
